/* General Styles */
* {
    font-family: Verdana;
}

/* Navigation Bar Styles */
.nav {
    position: relative;
    overflow: auto;
    width: 100%;
    margin-bottom: 8px;
}
  
    /* Navigation Bar Link Styles */
    .nav button {
        float: left;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        border: none;
        background: none;
    }
  
        /* Change color of links on hover */
        .nav button:hover:not(:last-of-type) {
            background-color: #ddd;
            color: black;
        }
  
        /* Add color to active link */
        .nav button.active {
            background-color: #4CAF50;
            color: white;
        }
  
    /* Navigation Bar Center Styles */
    .nav-center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
  
    /* Navigation Bar Right-aligned Styles */
    .nav-right {
        float: right;
    }